@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
.back-wrapper {
  background-color: aqua;
  height: 20em;
  width: 100%;
  top: 60px;
  /* margin-left: 4px; */
  border-radius: 20px;
  position: absolute;
}
.p-wrap {
  display: flex;
  align-items: center;
  /* gap: 20em; */
  position: relative;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: -50px;
}

.prod {
  margin-left: 5em;
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}
.results {
  padding: 10rem;
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-style: normal;
}
.bottom-section {
  width: 100%;
  position: absolute;
  top: 240px;
}
.item-list {
  /* width: 90vh; */
  /* max-width: 1300px; */
  position: relative;
  top: 0;
  margin: 0 2rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* align-items: start; */
}

.product {
  height: 14em;
  /* width: 100%; */
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem 3em 1rem;
  text-align: center;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.product .feature-image {
  width: 70%;
  object-fit: cover;
}

.product h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.product h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.2rem;
  letter-spacing: 2px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previous-price {
  text-decoration: line-through;
  color: #444;
  font-size: 16px;
}

.current-price {
  font-weight: bold;
}

.description {
  font-size: 12px;
}
.product-icon-head {
  display: flex;
  justify-content: space-between;
}

.circle-icon {
  background: rgba(0, 255, 255, 0.288);
  padding: 10px;
  border-radius: 60px;
}
